.App {
  text-align: center;
  background-color:#f9f9ff;
}
.upper_div {
  position: relative;
  z-index: 1;
  background-color:#172755;
  margin-bottom: 150px;
}

.upper_div:before{
  position: absolute;
  width:100%;
  height: 100%;
  content:'';
  background-color:#172755;
  top:0px;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform-origin:top right;
  transform:skew(-8deg);
}
.upper_div:after{
  position: absolute;
  width:100%;
  height: 100%;
  content:'';
  background: inherit;
  top:0px;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform-origin:top right;
  transform:skewY(-8deg);
  border-bottom: 10px solid #EF2A82;
}

.lower_div {
  position: relative;
  z-index: 1;
  background-color:#172755;
  margin-top: 100px;
}

.lower_div:before{
  position: absolute;
  width:100%;
  height: 80%;
  content:'';
  background-color:#172755;
  top:0px;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform-origin:top left;
  transform:skew(-8deg);
  
}
.lower_div:after{
  position: absolute;
  width:100%;
  height: 80%;
  content:'';
  background: inherit;
  top:0px;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform-origin:top left;
  transform:skewY(-8deg);
  border-top: 10px solid #EF2A82;
  
}

.img1{
  position: absolute;
  top: 180px;
  right: 300px;
  z-index: 999;
}

.img2{
  position: absolute;
  top: 70px;
  right: 0px;
  z-index: 99;
}

.image2{
height: 550px;
}

@media screen and (max-width: 1180px) {
.img1{
  display: none;
}
.img2{
  display: none;
}
.image2{
  height: 300px;
}
}

@media screen and (max-width: 380px) {
  .image2{
    height: 220px;
  }
  .image1{
    height: 100px;
  }
  }